body {
   /* background-image: url('../../assets/pink-yellow-plain-background.jpg');*/
    
    font-family: 'Arial', sans-serif;
}
.container-one {
    display: flex;
    background-color: red;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;

}